[run]
source = .
omit = ./env/*,*test*,*apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py, *_initial.py, backend/settings.py

[report]
omit = ./env/*,*test*,*apps.py,*manage.py,*__init__.py,*migrations*,*asgi*,*wsgi*,*admin.py,*urls.py, *_initial.py, backend/settings.py
