.post-holder {
  display: flex;
  flex-direction: column;
  align-items: center;

}


.css-1kj2szu-MuiContainer-root{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
} 