
@import "Themes.css";

Form {
    display: flex;
    background-color: var(--Primary1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.post-submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.image-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-bottom: 26px;
    width: 100%;
}

.image-preview img {
    max-width: 100%;
    max-height: 350px; /* Adjust the max height as needed */
    width: auto; /* Ensure the image maintains its aspect ratio */
    height: 400px; /* Ensure the image maintains its aspect ratio */
    border-radius: 8px;
    object-fit: cover;
}

.main-post {
    display: flex;
    background-color: var(--Primary1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}

.comments {
    display: flex;
    background-color: var(--Primary1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 400px;
}