@import "Themes.css";

body {
    font-family: Arial, sans-serif;
    background-color: var(--Tertiary1);
    margin: 0px;
    padding: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.back-img{
    width: 100%;
    object-fit: cover;
    height: 15vh;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-repeat: no-repeat;

}

.profile-card {
    position: relative;
    background-color: var(--Primary1);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.card-upper {
    display: flex;
    align-items: center;
    width: 100%;
}

.pfp {
    border-radius: 30%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid var(--Tertiary1);
    margin-bottom: 20px;
}

.names {
    text-align: left;
    margin-left: 8px;
}

.display-name {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.username {
    font-size: 20px;
    font-weight: bold;
    color: var(--Quarternary1);
    margin-bottom: 10px;
}

.bio {
    font-size: 16px;
    color: var(--Quarternary1);
    margin-top: 20px;
    width: 100%;
    display: block;
    text-align: center;
}

/* Buttons */
.profile-card .buttons {
    position: absolute;
    top: 10px;
    right: 10px;
}
.profile-card .edit-button {
    background-color: var(--Tertiary1 );
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-card .edit-button:hover {
    /*background-color: #770000;  red buttons  */
    background-color: #176346;


}

.profile-card .post-holder {
    width: 50%;
}

.profile-card .logout-button {
    background-color: var(--Tertiary1 );
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.profile-card .logout-button:hover {
    background-color: #176346;
}
.friend-requests{
    color: black;
    padding: 8px;
    background-color: var(--Secondary1);
    border-style: outset;
    border-width: 5px;
    border-color: var(--Tertiary1);
    border-radius: 8px;
    

}
.friend-requests .b{

    background-color: var(--Quarternary1);
}
/* footer {
    display: flex;
    margin-top: 1dvh;
    padding-top: 1dvh;
    padding-bottom: 1dvh;
    border-top: .3dvh solid darkgray;
    justify-content: center;
    align-items: center;
} */
/* .sidebar {
    height: 100vh;
    background-color: #f8f9fa;
    padding-top: 20px;
}

.nav-link {
    color: #333;
    font-size: 1.2rem;
    padding: 10px 20px;
}

.nav-link.active {
    color: #1da1f2;
    font-weight: bold;
}

.profile-header {
    position: relative;
}

.banner-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.profile-info {
    margin-top: -5px;
}

.profile-pic {
    width: 350px;
    height: 250px;
    border: 5px solid #fff;
}

.nav-tabs {
    margin-top: 20px;
}

.post {
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
} */
